.container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
}

.time-input-stop {
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: greenyellow;
  width: 100px;
}

.time-input-running {
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: red;
  width: 100px;

}

/* Homework */
.time-input-times-up {
  animation: flashing 0.5s infinite;
  background-color: red;
  margin-bottom: 20px;
  border: 1px solid black;
  width: 100px;
}

@keyframes flashing {
  0% {
    background-color: rgb(255, 153, 0);
  }
  50% {
    background-color: rgb(255, 234, 0);
  }
  100% {
    background-color: rgb(255, 153, 0);
  }
}


.button-plus {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: none;
  height: 26px;
  width: 26px;
  border-radius: 50%; /* set the border radius to 10 pixels */
}

.button-minus {
  color: #000000;
  background-color: rgb(255, 255, 255);
  border: none;
  height: 26px;
  width: 26px;
  border-radius: 50%; /* set the border radius to 10 pixels */
}
.button-row {
  margin: 10px;
}


button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

body {
  background-repeat: no-repeat;
  background-size:cover
}

#minutes,
#seconds {
  font-size: 24px;
}
body  {color: #ffffff; }
